:root{
    --main-color:#F5F87D;
    --black:#080808;
    --bg:#5d88b9ef;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:rgb(12, 12, 12);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}
/*Color del bar de navegación*/
.header{
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}
/*Color cuando seleccionas en navegacioon bar*/
.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}
/*Mandar los iconos de lado*/
.header .navbar a:hover{
    color:black; /*Sombrea los iconos*/
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.home{
    min-height: 15vh;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}
/*Cajas de los productos*/
.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}
/*propiedades de las imagenes*/
.menu .box-container .box img{
    height: 10rem;
}
/*Colores de las letras de los productos*/
.menu .box-container .box h3{
    color: rgb(10, 10, 10);
    font-size: 2rem;
    padding:1rem 0;
}
/*Atributos de dirección*/
.menu .box-container .box a{
    color:rgb(0, 0, 0);
}
/*Atributos de precio*/
.menu .box-container .box .price{
    color: rgb(14, 14, 14);
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}
/*Color del iluminar al seleccionar un producto*/
.menu .box-container .box:hover{
    background:white;
}
/*Cambia el color de las letras al seleccionar un producto*/
.menu .box-container .box:hover > *{
    color:#5d88b9ef;
}
.footer{
    background:var(--main-color);
    text-align: center;
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}
/*Caracteristicas de la letra del footer*/
.footer .links a{
    padding:.7rem 2rem;
    color:rgb(0, 0, 0);
    border:var(--border);
    font-size: 2rem;
}
/*Cambia el color al seleccionarlo*/
.footer .links a:hover{
    background:white;
}
/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: rgb(5, 5, 5);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}